{% extends "base.html" %}

{% block content %}


{% include 'navbar.html' %}
<h1>Create a client</h1>

<form method="POST">
    {% csrf_token %}

    <!-- REGION -->
    <label>Region</label>
    <select 
        name="region"
        id="id_region"
        hx-get="{% url 'load-provinces' %}"
        hx-target="#province-container"
        hx-trigger="change"
    >
        <option value="">---------</option>
        {% for region in regions %}
        <option value="{{ region.id }}">{{ region.name }}</option>
        {% endfor %}
    </select>

    <!-- PROVINCE -->
    <div id="province-container">
        {% include 'client/partials/province_dropdown.html' with provinces=None %}
    </div>

    <!-- MUNICIPALITY -->
    <div id="municipality-container">
        {% include 'client/partials/municipality_dropdown.html' with municipalities=None %}
    </div>

    <!-- BARANGAY -->
    <div id="barangay-container">
        {% include 'client/partials/barangay_dropdown.html' with barangays=None %}
    </div>

    <div>
        <h1>Street and House Number (Optional): </h1> {{ form.house_number_street }}
    </div>
    <!-- OTHER CLIENT FIELDS -->
    <div>
        <h1>name: </h1> {{ form.name }}
    </div>

    <div>
        <h1>Trade Name: </h1> {{ form.trade_name }}
    </div>
    <div>
        <h1>Contact Number: </h1>{{ form.contact_number }}
    </div>
    <div>
        <h1>Status: </h1> {{ form.status }}
    </div>
    <div>
        <h1>Application Date: </h1> {{ form.application_date }}
    </div>


    <button type="submit">Save Client</button>
</form>


 

{% endblock %}