{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}


<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3">My Clients</h1>
        <a href="{% url 'create-client' %}" class="btn btn-primary">Add Client</a>
    </div>

    <!-- Search bar -->
    <div class="mb-3">
        <input 
            type="text"
            name="search"
            placeholder="Search client by name…"
            hx-get="{% url 'search-clients' %}"
            hx-trigger="keyup changed delay:300ms"
            hx-target="#client-results"
            class="form-control"
        />
    </div>

    <div id="client-results">
        {% include "client/partials/client_list.html" with clients=clients %}
    </div>
</div>

{% endblock %}
