<!-- MUNICIPALITY -->
<div class="mb-3" id="municipality-container">
    <label for="id_municipality" class="form-label">Municipality</label>
    <select 
        name="municipality"
        id="id_municipality"
        class="form-select"
        hx-get="{% url 'load-barangays' %}"
        hx-target="#barangay-container"
        hx-trigger="change"
    >
        <option value="">---------</option>
        {% if municipalities %}
            {% for m in municipalities %}
                <option value="{{ m.id }}">{{ m.name }}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>