<!-- PROVINCE -->
<div class="mb-3">
    <label for="id_province" class="form-label">Province</label>
    <select 
        name="province"
        id="id_province"
        class="form-select form-select-lg"
        hx-get="{% url 'load-municipalities' %}"
        hx-target="#municipality-container"
        hx-trigger="change"
    >
        <option value="">Select Province</option>
        {% if provinces %}
            {% for p in provinces %}
                <option value="{{ p.id }}">{{ p.name }}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>